{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
    {{ blog.name }}
{% endblock %}
{% block content %}
<div class="row">
    {% include 'includes/last_blogs.html' with last_blogs=last_blogs %}
    <div class="col-12 col-md-8">
        <div class="card my-md-5 my-3">
            <div class="card-body">
                {% thumbnail blog.picture "500x400"  as img %}
                <img src="{{ img.url }}" class="img-fluid w-100 rounded">
                {% endthumbnail %}
                       {{ blog.content|safe }}

            </div>
        </div>
    </div>
</div>
{% endblock %}